.content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-actions {
  margin-top: 250px;
  height: 100%;
}

.catalog {
  height: 100%;
  display: flex;
  overflow: auto;
  flex-direction: column;
  width: 80%;
  padding: 24px;
}

.catalog-table {
  margin-top: 24px;
  height: 100%;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  width: 100%;
  padding: 24px 0;
}

.example-element-diagram > div:not(:first-child) {
  margin-top: 16px;
}

.detail-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.detail-actions button:not(:first-child) {
  margin-left: 16px;
}

.mat-column-id {
  padding: 16px !important;
}

.mat-column-question {
  padding: 16px !important;
}

.mat-column-type {
  padding: 16px !important;
}

.mat-column-difficulty {
  padding: 16px !important;
}

.mat-column-popularity {
  padding: 16px !important;
}

.catalog-action {
  display: flex;
  align-items: baseline;
  flex-direction: column;
}

.filter-actions {
  display: flex;
  width: 100%;
  justify-content: center;
}

.filter-actions > button {
  margin: 0 8px;
}

.p-lr-8 {
  padding: 0 8px;
  box-sizing: border-box;
}
